/* default ==========
===================== */
body {
  color: #fff;
  font-family: sans-serif;
  color: rgb(241, 241, 241);
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
/* defalut \\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\ */

/* ======================================== */

/* header =========
=================== */
header {
  background: #0096db;
}

.header__content {
  text-align: center;
}

.header__name {
  font-size: 24px;
  padding-top: 50px;
}

.header__title {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 36px;
}

.header__subtitle {
  padding-bottom: 30px;
  font-size: 14px;
}

.header__navbar {
  background: #038ece;
}

/* header \\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\ */

/* ======================================== */

/* nav__bar ==========
====================== */
nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.nav__link:hover,
.nav__link + .active {
  background: #fff;
  color: #0096db;
}
/* nav__bar \\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\ */

/* ======================================== */

/* main ==========
================== */
main {
  color: rgb(105, 105, 105);
  font-size: 20px;
  padding: 20px;
}

.main__img {
  width: 100%;
}

.main__title {
  text-align: center;
  margin: 30px 0;
}
/* main \\\\\\\\\\
\\\\\\\\\\\\\\\\\\ */

/* ======================================== */

/* about__project ==========
============================ */
.about__project {
  color: inherit;
  margin: 20px 0;
  text-align: justify;
}

.task__project > li {
  margin: 30px 0;
  text-align: justify;
}

/* team ==========
================== */
.team {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.team__photo > img {
  width: 200px;
  height: 270px;
}

.about__team {
  padding: 20px;
}

.about__team > h1 {
  padding: 20px 0 10px 0;
}

@media (min-width: 700px) and (max-width: 991px) {
  .nav__link {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  .header__name {
    font-size: 14px;
  }
  .header__title {
    font-size: 20px;
  }
  .header__subtitle {
    font-size: 12px;
  }
  nav {
    flex-direction: column;
  }
  .nav__link {
    font-size: 14px;
  }
  .about__project {
    font-size: 14px;
  }
  .task__project {
    font-size: 14px;
  }
  .team {
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
  .team > h1 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header__name {
    font-size: 14px;
  }
  .header__title {
    font-size: 20px;
  }
  .header__subtitle {
    font-size: 12px;
  }
  nav {
    flex-direction: column;
  }
  .nav__link {
    font-size: 14px;
  }
  .about__project {
    font-size: 14px;
  }
  .task__project {
    font-size: 14px;
  }
  .team {
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
  .team > h1 {
    font-size: 16px;
  }
}
